<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="books">Books</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
	<style>
		nav ul {
			list-style-type: none;
			padding: 0;
		}

		nav li {
			display: inline-block;
		}

		nav a {
			padding: 10px;
			display: inline-block;
			text-decoration: none;
			background-color: bisque;
			border: 1px solid black;
			border-radius: 10px;
		}

		nav a:hover {
			background-color: rgb(253, 185, 101);
		}
	</style>
</header>